{% extends 'perris/base.html' %} {% block content %}

<body id="fondoI">
  <form method="POST">
    {% csrf_token %}
    <div id="pregunta">
      <h3>¿Seguro que deseas eliminar al perrito/a? {{perro.nombre_perro}}</h3>
    </div>
    <div id="botones">
      <div id="btnSi">
        <button class="btn btn-primary" type="submit">Si</button>
      </div>
      <div id="btnNo">
        <a href="{%  url 'adm.inicio' %}" class="btn btn-dark">Cancelar</a>
      </div>
    </div>
  </form>

</body>
{% endblock %}